# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
# markdowns
markdowns/

# IDE files
.vscode/
.idea/



# Poetry
__pypackages__/
poetry.lock
pyproject.toml